<div class="jumbotron">
<h1>Home</h1>
<p>Welcome to TeeFuryClone, on this site I hope to demonstrate my knowledge of web development.
  Consider doing the following while viewing this page.
 </p>
  <ul>
    <li>Check out our gallery of shirts!</li>
    <li>Submit a shirt design by browsing for an image on your computer and giving the shirt a name.</li>
    <li>If you don't want to upload a shirt, go to the gallery and you can edit an already existing shirt!</li>
    <li>Check out the admin section. This section shows pending shirts. Shirts submited by users will always be
      pending at first. </li>
    <li>The admin has the option to edit shirts, when editing a shirt the admin can change the color, change the
        image or change the pending status to approved.</li>
    <li>You can also leave a comment on a shirt! Visit any shirt and say anything you like about
      any of our shirts. Anyyythinngg....
    </li>
  </ul>

  <h1>Under Construction</h1>
  <p>The following are under construction and are features that I will implement.</p>
  <ul>
    <li>Shopping Cart and purchasable shirts.</li>
    <li>User profiles(information).</li>
    <li>Modals in gallery.</li>
    <li>Guest/User/Admin restrictions.</li>
    <li>Tags for shirts and a tag filter in Gallery.</li>
    <li>Commenting on shirts.</li>
    <li>Add infinite scrolling to gallery.</li>
    <li>Add a system to sell one shirt a day.</li>

  </ul>
</div>
