<h1>HEADER</h1>
<div id="header">
	<h4>Top-Header</h4>
	<div id="header-top">
		<ul>
			<li><a>Sign In</a></li>
			<li><a>Log Out/in</a></li>
			<li><a>blah</a></li>
		</ul>
	</div>
	<h4>Bottom-Header</h4>
	<div id="header-bottom">
		<ul>
			<li><a href="">Today's Tee</a></li>
			<li><a href="#gallery">Gallery</a></li>
			<li><a href="#submit">Submit</a></li>
		</ul>
	</div>
</div>

<h1>CONTENT DIV</h1>
<div id="content">
</div>
