<nav class="navbar navbar-default" role="navigation">
<div id="header">
  <div id="header-top" class="navbar navbar-inverse">
    <ul class="nav nav-pills">
      <li><a>Sign In</a></li>
      <li><a>Log Out/in</a></li>
      <li><a>blah</a></li>
    </ul>
  </div>
	<div id="header-bottom" class="collapse navbar-collapse">
		<ul class="nav nav-pills">
			<li class=""><a href="">Today's Tee</a></li>
			<li><a href="#gallery">Gallery</a></li>
			<li><a href="#submit">Submit</a></li>
		</ul>
	</div>
</div>
</nav>
<div id="content">
</div>
