<div style="float:left">
  <h1>Login</h1>

  <form action="<%= session_url %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <label for="user_username">Username</label>
    <input
       id="user_username"
       name="user[username]"
       type="text">
    <br>

    <label for="user_password">Password</label>
    <input
       id="user_password"
       name="user[password]"
       type="password">
    <br>

    <input type="submit" value="Log in">
  </form>
</div>
<div class="jumbotron" style="float:right; width:66%">
  <h1>Guest Account</h1>
  <p>You don't have to create a user, just login with our Guest account to test TeeFuryClone!</p>
  <form action="<%= session_url %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">
     <input
        id="user_username"
        name="user[username]"
        type="hidden"
        value="guest">
     <input
        id="user_password"
        name="user[password]"
        type="hidden"
        value="password">

      <input class="btn btn-danger" type="submit" value="Login as Guest!">
  </form>
</div>
