<h3>Submit Design</h3>
<form>
  <fieldset style="border-style: none;margin: 0;padding: 0;">
    <ul style="list-style-type:none">
      <li>
        <label for="title">Design Title</label><br>
        <input type="text" name="submit[title]" placeholder="title" id="title">
      </li>
        <label for="file">Upload File</label><br>
        <input type="file" name="submit[file]" placeholder="File path" id="file">
      <li>
        <input type="submit" value="Submit Design">
      </li>
    </ul>
  </fieldset>
</form>