<h3>Submit Design</h3>
<form id="submit_form" enctype="multipart/form-data">
  <fieldset style="border-style: none;margin: 0;padding: 0;">
    <ul style="list-style-type:none">
      <li>
        <label for="name">Design Title</label><br>
        <input type="text" name="design[name]" placeholder="name" id="name">
      </li>
        <label for="file">Upload File</label><br>
        <input type="file" name="design[file]" placeholder="File path" id="file">
      <li>
        <input id="submit_design" type="submit" value="Submit Design">
      </li>
    </ul>
  </fieldset>
</form>