<h1>Pending Shirt Designs</h1>
<nav id="nav-bar-search" class="navbar navbar-default">
  <div id="search">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input id="gallery-index-search-text" type="text" class="form-control" placeholder="Search">
    </div>
    <button id="search-gallery" type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</nav>
<div class="gallery-filter-wrapper">
  <center>Filter</center>
</div>
<div class="gallery-display-thumbs-wrapper">

</div>