/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#content{
  margin: 0 auto;
  position: relative;
  width: 1000px;
}
#main{
  overflow: hidden;
  padding: 0 0 69px;
  width: 100%;
}
#search{
  float:right;
}
#nav-bar-search{
  background-color:#4D4D4D;
}
.show-shirt-main{
  overflow: hidden;
  padding: 0 0 69px;
  width: 100%;
}
.show-shirt-content{
  float: left;
  overflow: hidden;
  width: 640px;
}
.show-shirt-sidebar{
  float: right;
  padding: 0 0 0 15px;
  width: 325px;
}
.image-backdrop{
  background: #fff;
  border: 1px solid #ddd;
  margin: 0 0 15px;
  padding: 10px;
}
.gallery-display-thumbs-wrapper{
  float: right;
  margin: 0 0 10px 8px;
  width: 782px;
}
.gallery-thumb-wrapper.first{
  margin-left: 0;
  clear: both;
}
.gallery-thumb-wrapper{
  float: left;
  margin-left: 30px;
  margin-bottom: 10px;
}
.gallery-thumb-img{
  height: 186px;
  overflow: hidden;
  position: relative;
}
.gallery-thumb-content{
  float:left;
}
.gallery-thumb-content-left{
  background-image: url('https://www.teefury.com/images/gallery_separator.png');
  background-position: right center;
  background-repeat: no-repeat;
  float: left;
  height: 72px;
  width: 65px;
  position: relative;
}
.price{
  margin-left: 7px;
  font-weight: bold;
  font-size: 25px;
  line-height: 72px;
}

.gallery-thumb-content-right{
  width: 170px;
  float: left;
}

.gallery-thumb-content-right h3{
  padding: 0;
  color: #7E7E7E;
  margin-top: 9px;
  margin-bottom: 3px;
  font-size: 20px;
  float: left;
  width: 100%;
}
.gallery-thumb-content-author{
  color: #7E7E7E;
  float: left;
  width: 100%;
}
.gallery-thumb-content-date{
  float: left;
  width: 100%;
}

.gallery-filter-wrapper{
  width: 185px;
  margin-left: 5px;
  margin-right: 20px;
  float: left;
  border-color:red;
  border:2px solid;
  border-radius:25px;
  height:500px;
}

#shirt-edit-left-div{
  float:left;
}

#edit-design-img{

}

#edit-model-img{

}

#shirt-edit-right-div{
  float:right;
}

#spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-top: 200px;
  margin-left: 0px;
}
.shirt-comments{
  border-top: 1px solid #ccc;
  float: left;
  list-style: none;
  overflow: hidden;
  padding: 27px 0 0;
  width: 100%;
  border: none;
  margin: 1px -9px 0 0;
}
.shirt-comments div{
  border-bottom: 1px dotted #ccc;
  float: left;
  margin: 0 0 25px;
  padding: 0 0 1px;
  width: 100%;
}


#commentShowHide{
  background: #656464;
  font-size: .846em;
  letter-spacing: 1px;
  line-height: 2.181em;
  padding: 0 0 0 9px;
}

#commentShowHide a{
  background: url(http://www.teefury.com/images/btn-show-open.gif) no-repeat 0 50%;
  color: #fcfcfc;
  padding: 0 0 0 17px;
  text-decoration: none;
}

#commentShowHide a:hover{
  text-decoration: underline;
}

@import "bootstrap";