/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#content{
  margin: 0 auto;
  position: relative;
  width: 1000px;
}
#main{
  overflow: hidden;
  padding: 0 0 69px;
  width: 100%;
}
#search{
  float:right;
}
#nav-bar-search{
  background-color:#4D4D4D;
}
.gallery-thumb{
  float: left;
  width: 230px;
  margin-left: 30px;
  margin-bottom: 10px;
}
.gallery-filter-wrapper{
  width: 185px;
  margin-left: 5px;
  margin-right: 20px;
  float: left;
  border-color:red;
  border:2px solid;
  border-radius:25px;
  height:500px;
}
.gallery-display-thumbs-wrapper{
  float: right;
  margin: 0 0 10px 8px;
  width: 782px;
  border-color:red;
  border:2px solid;
  border-radius:25px;
}
@import "bootstrap";