<h1>Gallery</h1>
<nav id="nav-bar-search" class="navbar navbar-default">
  <div id="search">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</nav>
<div class="gallery-filter-wrapper">
</div>
<div class="gallery-display-thumbs-wrapper">
  <% shirts.forEach(function(shirt){ %>
  	<div class="gallery-thumb">
      <img src="shirt.url"></img>
      <a href="#gallery/<%= shirt.escape('id') %>"><%= shirt.escape('name') %></a>
    </div>
  <% }); %>
</div>