<div class="gallery-thumb-img">
   <a href="#shirt/<%= shirt.escape('id') %>">
  <img style="background-color: <%= shirt.escape('color') %>"
  src="<%= shirt.get('design_url_small') %>"></img>
  </a>
</div>

<div class="gallery-thumb-content">
  <%= shirt.escape('name') %>
</div>
