	<div class="gallery-thumb">
    <img style="background-color: black" src="<%= shirt.get('design_url_small') %>"></img>
    <center><a href="#gallery/<%= shirt.escape('id') %>"><%= shirt.escape('name') %></a></center>
  </div>
